.navbar {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .links {
    display: flex;
  }
  
  .links a {
    margin-left: 20px;
    color: white;
    transition: color 0.3s;
  }
  
  .links a:hover {
    color: #ffcc00;
  }
  